#texto1{
    color: #06f5f5;
}
#titulo{
   color: #ffff;
   text-align: center;
}
#body{
    background-color: #011724;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#texto2{
    color: #00008b;
}
#caixa{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1%;
    border: 2px solid #06f5f5;
    width: 80%;
    height: 400px;
}
.texto3{
    color: rgb(153, 153, 144);
    text-align: left;
}
#imagem{
    width: 40px;
    height: 80px;
}
