#texto1{
    color: #06f5f5;
}
#titulo{
   color: #ffff;
   text-align: center;
}
#body{
    background-color: #011724;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#texto2{
    color: #00008b;
}
#caixa{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    border: 2px solid #06f5f5;
    width: 50%;
    height: 500px;
}
#texto3{
    color: rgb(61, 61, 60);
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    width: 90%;
}
#imagem{
    width: 200px;
    height: 250px;
}
@media(
    max-width: 768px
){
  #caixa{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    border: 2px solid #06f5f5;
    width: 75%;
    height: 400px;
  }
}
@media(max-width: 450px)
{
#caixa{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    border: 2px solid #06f5f5;
    width: 90%;
    height: 410px;
}
}

